body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('background.jpg'); /* Reference to local image file */
    background-size: cover;
    background-position: center;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 800px;
    width: 100%;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode .container {
    background-color: rgba(18, 18, 18, 0.8);
}

.game-mode {
    margin-bottom: 20px;
}

.player {
    margin-bottom: 10px;
}

.result {
    margin-top: 20px;
    font-weight: bold;
}

button {
    margin: 5px;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode button {
    background-color: #333333;
    color: #ffffff;
}

.map-image {
    margin-top: 20px;
}

.map-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #ddd;
}

body.dark-mode .map-image img {
    border: 2px solid #444444;
}

.clock {
    margin-top: 20px;
    font-size: 18px;
}
